@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #AAC8A2;
}

.link-underline:hover { 
  background-size: 100% 3px;
  background-position: 0 100%
}